<% include header %>

<main role="main">
  <div class="container">
    <% contentArray.forEach(function(tweet){ %>
      <h3>
        <%= tweet %>
      </h3>
    <% }); %>
    <br>
  </main>
</div>

<% include footer %>

