<% include header %>
<div class="body-container">
	<header role="banner" class="banner">
		<% include nav %>
	</header>
	<main role="main">
		<% include landing %>
	</main>
	<% include footer %>
</div>
</body>
</html>