<% include header %>

<main role="main">
  <div class="container">
    <% twitter.statuses.forEach(function(tweet){ %>
      <h3>
        <%= tweet.text %>
      </h3>
    <% }); %>
    <br>
    <%= sentiment %>
  </main>
</div>

<% include footer %>

