<% include header %>

<button id='load-tweets'>Load Tweets</button>

<main role="main">
  <div class="tweets">
    <br>
  <div class="sentiment">
    <% if (typeof sentimentArray !== undefined) { %>
      <% sentimentArray.forEach(function(sentiment) { %>
      <%= sentiment %>
      <% }); %>
    <% } %>
  </div>
  </main>
</div>

<% include footer %>

