<div class="columns is-mobile" id="landing">
  <div class="column is-5 is-offset-4">
    <p class="type">Discover <em>how</em> people <strong>feel</strong></p>
    <p class="type"id="about">about

            <input type="text" class="load-tweets" id="input">
    </p>
  </div>
</div>
</div>
<div>
<video autoplay loop id="video-background" muted>
  <source src="http://res.cloudinary.com/shino/video/upload/v1470512209/sentiment_qav7zh.mp4" type="video/mp4">
</video>
</div>