

<input type="search" id="load-tweets">

<main role="main">
  <div class="tweets">
    <br>
	</main>
</div>





	<div id="tweets-neutral">

	</div>


	


















<div class="tweet-container columns">
	<div class="column is-one-quarter">
		<h1>Positive</h1>

	</div>
	<div class="column is-one-quarter">
		<h1>Neutral</h1>
		<ul class="tweets neutral">
			<li class="tweet box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img src="http://placehold.it/128x128" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
							</p>
						</div>
					</div>
				</article>
			</li>
			<li class="tweet box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img src="http://placehold.it/128x128" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
							</p>
						</div>
					</div>
				</article>
			</li>
			<li class="tweet box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img src="http://placehold.it/128x128" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
							</p>
						</div>
					</div>
				</article>
			</li>
			<li class="tweet box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img src="http://placehold.it/128x128" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
							</p>
						</div>
					</div>
				</article>
			</li>
			<li class="tweet box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img src="http://placehold.it/128x128" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
							</p>
						</div>
					</div>
				</article>
			</li>
			<li class="tweet box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img src="http://placehold.it/128x128" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
							</p>
						</div>
					</div>
				</article>
			</li>
			<li class="tweet box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img src="http://placehold.it/128x128" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
							</p>
						</div>
					</div>
				</article>
			</li>
			<li class="tweet box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img src="http://placehold.it/128x128" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
							</p>
						</div>
					</div>
				</article>
			</li>
			<li class="tweet box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img src="http://placehold.it/128x128" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
							</p>
						</div>
					</div>
				</article>
			</li>
			<li class="tweet box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img src="http://placehold.it/128x128" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
							</p>
						</div>
					</div>
				</article>
			</li>
		</ul>
	</div>
	<div class="column is-one-quarter">
		<h1>Negative</h1>
		
	</div>
</div>