<nav role="navigation" class="nav">
  <ul class="nav-left">
    <li class="nav-item is-brand">
      <a id="title" href="#"><h1>sentiment</h1></a>
    </li>
  </ul>
  <nav class="main-menu">
    <ul>
      <li>
        <a href="#">
          <i class="fa fa-users fa-2x"></i>
          <span class="nav-text">
            Our Team
          </span>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-github fa-2x"></i>
          <span class="nav-text">
            Github
          </span>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-line-chart fa-2x"></i>
          <span class="nav-text">
            Sentiment Analysis
          </span>
        </a>
      </li>
    </ul>
  </nav>
</nav>