<div>
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item is-brand" href="#">
        <h1 id="title">sentiment</h1>
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <input type="search" id="load-tweets">
    <div class="nav-right nav-menu">
      <div id='sidebar'>
        <div class="visible"  id="sidebar-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="visible"  id="sidebar-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </nav>
</div>