<nav role="navigation" class="nav">
  <ul class="nav-left">
    <li class="nav-item is-brand">
      <a id="title" href="#"><h1>sentiment</h1></a>
    </li>
  </ul>
  <ul class="nav-right nav-menu">
    <li class="nav-item">
      <i class="fa fa-home fa-2x"></i>
      <a href="/">
        <span class="nav-item-text">Our Team</span>
      </a>
    </li>
     <li class="nav-item">
      <i class="fa fa-github fa-2x"></i>
        <a href="/">Github</a>
    </li>
  </ul>
</nav>