<nav role="navigation" class="nav">
  <ul class="nav-left">
    <li class="nav-item is-brand">
      <a id="title" href="main.ejs"><h1>sentiment</h1></a>
    </li>
  </ul>
  <ul class="nav-right">
  	<li><a href="https://github.com/davidhaley/sentiment-project"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
  </ul>
</nav>