<img src="images/bgwallpaper.jpg" id="bg" alt="">
<div>
  <div class="tweet-container columns">
    <div class="column is-one-quarter">
      <ul class="tweets-neutral">
        <li class="tweet-box">
        </li>
      </ul>
    </div>
  </div>
</div>
