<input type="search" id="load-tweets">
<div>
  <div class="tweet-container columns">
    <div class="column is-one-quarter">
      <ul class="tweets-neutral">
      </ul>
      <ul class="tweets-negative">
      </ul>
      <ul class="tweets-positive">
      </ul>
    </div>
  </div>
</div>
